@mixin transition($time: NULL, $transitions...) {
  $transition: '';

  @if ($time == NULL) {
    $time: 0.25s;
  }

  @each $property in $transitions {
    $transition: #{$transition}, #{$property} ease-out $time;
  }

  transition: #{$transition};
}
